@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --light-pastel-green:#D2D8B6;
    --medium-pastel-green:#9fa77e;
    --dark-pastel-green:#6f774d;

    --light-cream: #FFF3DE;
    
    --panel-background:#ececec;
    --panel-outline:#ffffff;
    --highlight:#307ffd;
    --deep-blue:#0000ff;
    --mute-gray:#505050;
    --select-black:#000000;
    
    --panel-shadow:2px 2px 8px 0px rgb(0, 0, 0, 0.6);
    --mute-grey:#ccc;
    --header-panel-grey:rgb(146, 146, 146);

    --delete-red:#ff4040;
    --default-button-color:#6a6a6a;

    --viewport-background:#fff;
    --contour-black:#000000;
    --contour-grey:#ccc;

    --white-text:#fff;
}
body{
    margin:0;
    padding:0;
    font-family: "Roboto", "sans-serif";
}
button{
    all:unset;
    user-select: none;
    cursor:pointer;
}
button img{
    height:100%;
    width:100%;
    pointer-events:none;
}
.anno-button{
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    --size:50px;
    height:var(--size);
    width:var(--size);
    overflow: hidden;;
}
.anno-button .pseudo-input{
    width: 75%;
    height: 75%;
    border-radius: 5px;
    transition: 0.2s;
}
.anno-button:hover .pseudo-input{
    border-radius: 15px;
    cursor: pointer;
}
.anno-button:hover{
    padding-left:15px;
}
.anno-button[selected="true"]{
    padding-left:5px;
    border-left: 8px solid var(--highlight);
}
.editor-container .toolbar .tool-icon{
    height:90%;
    width:90%;
}
.editor-container{
    width:100vw;
    height:100vh;
    position: relative;
}
.editor-container .topbar{
    box-shadow:2px 2px 8px 0px rgb(0, 0, 0, 0.6);
    background:var(--panel-background);
    position:fixed;
    top:0;
    height:44px;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.topbar .logo{
    font-size: 28px;
    font-weight:bold;
    line-height: 44px;
}
.topbar .export-button{
    height:100%;
    width:200px;
    background: var(--medium-pastel-green);
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--white-text);
}
.editor-container .toolbar{
    position:fixed;
    top:54px;
    left:0;
}
.editor-container .history-button{
    width:60px;
    height: 40px;
}
.editor-container .viewport{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.editor-container .sidebar{
    position:fixed;
    right:0;
    top:44px;
    width:370px;
    height:calc(100vh - 44px);
}
.editor-container .bottom-bar{
    position:fixed;
    left:0;
    bottom:0;
}
.editor-container .vert-scroll{
    width:calc(100% - 10px);
    padding:0 5px;
    max-height:100%;
    overflow-x:hidden;
    overflow-y:auto;
}
.editor-container .vert-scroll > *{
    margin-bottom:8px;
}

.cursor-c{
    cursor:all-scroll;
}