@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --light-pastel-green:#D2D8B6;
    --medium-pastel-green:#9fa77e;
    --dark-pastel-green:#6f774d;

    --light-cream: #FFF3DE;
    
    --panel-background:#ececec;
    --panel-outline:#ffffff;
    --highlight:#307ffd;
    --deep-blue:#0000ff;
    --mute-gray:#505050;
    --select-black:#000000;
    
    --panel-shadow:2px 2px 8px 0px rgb(0, 0, 0, 0.6);
    --mute-grey:#ccc;
    --header-panel-grey:rgb(146, 146, 146);

    --delete-red:#ff4040;
    --default-button-color:#6a6a6a;
    --icon-interactive:rgb(87,87,87);;

    --viewport-background:#fff;
    --contour-black:#000000;
    --contour-grey:#ccc;

    --white-text:#fff;
}
body{
    margin:0;
    padding:0;
    font-family: "Roboto", "sans-serif";
}
button{
    all:unset;
    user-select: none;
    cursor:pointer;
}
button img{
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.anno-button{
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    --size:50px;
    height:var(--size);
    width:var(--size);
    overflow: hidden;;
}
.anno-button .pseudo-input{
    width: 75%;
    height: 75%;
    border-radius: 5px;
    transition: 0.2s;
}
.anno-button:hover .pseudo-input{
    border-radius: 15px;
    cursor: pointer;
}
.anno-button:hover{
    padding-left:15px;
}
.anno-button[selected="true"]{
    padding-left:5px;
    border-left: 8px solid var(--highlight);
}
.editor-container .toolbar .tool-icon{
    height:90%;
    width:90%;
}
.editor-container{
    width:100vw;
    height:100vh;
    position: relative;
    user-select: none;
}
.editor-container .topbar{
    position:fixed;
    top:0;
    height:44px;
    width:100%;
    z-index: 4;
    pointer-events: none;
    display:flex;
    justify-content: flex-end;
}
.topbar .logo{
    font-size: 28px;
    font-weight:bold;
    line-height: 44px;
}
.topbar .logo .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    --size: 230px;
    height: var(--size);
    width: var(--size);
}
.topbar .logo .header-text{
    position: absolute;
    top: 13px;
    left: 169px;
    font-family: 'Fredoka One', cursive;
    color: #ca7fb0;
    transform: rotate(-5deg);
}
.topbar .topbar-tools{
    pointer-events: all;
    background:var(--panel-background);
    border-radius:10px;
    display: flex;
    height: 60px;
    margin: 5px;
}
.topbar .export-button{
    height: 40px;
    width: 40px;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-left: 3px solid #fff;
}
.topbar .export-button img{
    --size: 80%;
    height:var(--size);
    width:var(--size);
}
.editor-container .history-button{
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    display:flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius:5px;
}
.editor-container .history-button.disabled{
    opacity: 0.6;
}
.editor-container .history-button:hover{
    background: var(--viewport-background);
}
.editor-container .history-button.disabled:hover{
    background: var(--panel-background);
    cursor: default;
}
.editor-container .history-button img{
    --size: 85%;
    width:var(--size);
    height: var(--size);
}
.editor-container .viewport{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.editor-container .toolbar{
    position:fixed;
    top: 100px;
    left:0;
    z-index: 4;
}
.editor-container .sidebar{
    position:fixed;
    right:0;
    top: 64px;
    padding-top: 10px;
    z-index: 4;
    width: 360px;
    height: calc(100vh - 54px);
}
.editor-container .box-menu{
    padding: 10px 5px 10px 0;
}
.editor-container .bottom-bar{
    --content-height: 30px;
    position:fixed;
    left:0;
    bottom:0;
    width:100vw;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color:var(--panel-background);
    user-select: none;
}
.editor-container .bottom-bar .gridsize-wrapper, .editor-container .bottom-bar .save-power-wrapper{
    height: var(--content-height);
    padding: 5px;
    display: flex;
}
.editor-container .bottom-bar label{
    height: var(--content-height);
    width: var(--content-height);
    cursor:pointer;
    box-sizing: border-box;
    border: 1px solid var(--contour-grey);
    border-radius: 3px;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
}
.editor-container .bottom-bar .gridsize-wrapper .gridsize-icon{
    height: 90%;
    width: 90%;
}
.editor-container .bottom-bar .save-power-wrapper .save-power-icon{
    height: 90%;
    width: 90%;
}
.editor-container .bottom-bar input:checked + label{
    border: 2px solid var(--highlight);
}
.editor-container .vert-scroll{
    width:calc(100% - 10px);
    max-height:100%;
    overflow-y:auto;
    overflow-x: hidden;
}
.editor-container .vert-scroll > *{
    margin-bottom:8px;
}

.cursor-c{
    cursor:all-scroll;
}