.export-wrapper{
    width:800px;
    max-height: 80vh;
    margin: 10vh auto;
    background-color: var(--panel-background);
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}
.export-wrapper .close-button{
    position:absolute;
    top:10px;
    right: 10px;
    width:20px;
    height:20px;
}
.export-wrapper > div{
    width:100%;
}
.export-wrapper .preview{
    height:276px;
    /* width: 760px; */
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.export-wrapper .preview .preview-label{
    font-size:12px;
    color:var(--muted-grey-text);
}
.export-wrapper .preview .preview256{
    --size:256px;
    height:var(--size);
    width:var(--size);
}
.export-wrapper .preview .preview64{
    --size:64px;
    height:var(--size);
    width:var(--size);
}
.export-wrapper .preview .preview32{
    --size:32px;
    height:var(--size);
    width:var(--size);
}
.export-wrapper .preview .preview16{
    --size:16px;
    height:var(--size);
    width:var(--size);
}
.export-wrapper .preview .preview-item{
    background-color: var(--viewport-background);
}