.editor-container .infobox{
    border-radius: 10px;
    padding:10px;
    width: 260px;
    position:relative;
    margin-top:5px;
    background: var(--panel-background);
    /* --animation-time: 0.5s; */
}
.editor-container .infobox:hover{
    transition: 0.2s;
}
.editor-container .infobox.highlight{
    /*background:linear-gradient(180deg, var(--header-panel-grey)35px, var(--panel-background) 35px);*/
    opacity:1;
}
.infobox .headline{
    width:100%;
    height:30px;
    line-height: 30px;
    font-size: 20px;
    color:var(--mute-gray);
    font-weight:500;
    position: relative;
    cursor: pointer;
}
.infobox .headline img{
    float:left;
    height: 26px;
    width: 26px;
    margin:2px 8px 2px 0
}
.infobox .preview{
    float:left;
    --size:90px;
    width:var(--size);
    height:var(--size);
    margin:12px 10px 0 0;
    background-color:var(--viewport-background);
    border:1px solid var(--contour-grey);
    border-radius:8px;
    display:none;
}
.infobox.expanded .preview{
    display:block;
}
.infobox .top-wrapper{
    position: relative;
    /* width:330px; */
    height: 30px;
}
.infobox.expanded .top-wrapper{
    height: 135px;
}
.infobox .order-wrapper, .infobox .color-wrapper, .infobox .border-wrapper{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-right: 5px;
}
.infobox .line{
    position:absolute;
    display:flex;
    width:226px;
}
.infobox .line.upper{
    transform: translate(40px, -35px);
}
.infobox .line.lower{
    display:none;
}
.infobox.expanded .line.lower{
    display:flex;
    flex-direction: column;
    transform: translate(40px, 14px);
}
.infobox .pseudo-input{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin:0;
    padding:0;
    height: 40px;
    width:40px;
    border:none;
    cursor: pointer;
}
.infobox .hide-wrapper .hide-button{
    margin: 0 0 0 4px;
}
.infobox .color-wrapper{
    margin-left: 5px;
    width: 80px;
}
.infobox .border-wrapper{
    width: 120px;
    margin: 10px 0 0 5px;
}
.infobox .shape-icon{
    --icon-size:30px;
    height:var(--icon-size);
    width:var(--icon-size);
}
.infobox .order-wrapper button{
    all:unset;
    --size:24px;
    height:var(--size);
    width:var(--size);
}
.infobox .pseudo-input:last-child{
    margin-right:0;
}
.infobox .order-wrapper button, .infobox .hide-wrapper button, .infobox .delete-wrapper button{
    display: flex;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
    margin:0;
    padding:0;
    height: 40px;
    width: 40px;
    margin-right: 4px;
    cursor: default;
    color:var(--white-text);
    border-radius:8px;
    cursor: pointer;
    opacity: 0.6;
    padding: 8px;
}
.infobox.highlight .order-wrapper button,
.infobox.highlight .hide-wrapper button,
.infobox.highlight .delete-wrapper button,
.infobox:hover .order-wrapper button,
.infobox:hover .hide-wrapper button,
.infobox:hover .delete-wrapper button{
    opacity: 1;
}
.infobox .order-wrapper button:hover,
.infobox .hide-wrapper button:hover{
    background-color: var(--viewport-background);
}
.infobox .pseudo-input[checked]{
    border: 4px solid var(--highlight);
}
.infobox .button-group{
    display:flex;
    justify-content: space-evenly;
}
.infobox .button-group *:first-child{
    border-radius:8px 0 0 8px;
}
.infobox .button-group *:last-child{
    border-radius:0 8px 8px 0;
}
