.editor-container .infobox{
    background:var(--panel-background);
    border-radius: 20px;
    border:3px solid var(--panel-outline);
    padding:10px;
    width:330px;
    position:relative;
    box-shadow:0 2px 5px rgb(0 0 0 / 60%);
}
.editor-container .infobox.highlight{
    background-color: var(--light-pastel-green);
    border:3px solid var(--light-pastel-green);
}
.infobox .headline{
    width:100%;
    height:30px;
}
.infobox .preview{
    float:left;
    --size:90px;
    width:var(--size);
    height:var(--size);
    margin:12px 10px 0 0;
    background-color:var(--viewport-background);
    border:1px solid var(--contour-grey);
    border-radius:8px;
}
.infobox .top-wrapper{
    width:330px;
    height:105px;
}
.infobox .discr{
    width:100%;
    font-size: 12px;
    margin-bottom:2px;
}
.infobox .order-wrapper, .infobox .color-wrapper, .infobox .border-wrapper{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.infobox .line{
    display:flex;
    width:226px;
    margin-bottom: 10px;
}
.infobox .color-wrapper{
    width:100px;
}
.infobox .border-wrapper{
    width:125px;
}
.infobox .order-wrapper button{
    all:unset;
    --size:24px;
    height:var(--size);
    width:var(--size);
}
.infobox .pseudo-input{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin:0;
    padding:0;
    height:30px;
    width:40px;
    border:none;
    margin-right:2px;
    border-radius:8px;
    background-color:var(--default-button-color);
    color:var(--white-text);
    cursor: pointer;
    opacity: 0.5;
}
.infobox .pseudo-input:last-child{
    margin-right:0;
}
.infobox .order-wrapper button{
    display: flex;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
    margin:0;
    padding:0;
    height:30px;
    width:40px;
    margin-right:2px;
    cursor: default;
    background-color:var(--default-button-color);
    color:var(--white-text);
    border-radius:8px;
}
.infobox .order-wrapper button:hover{
    background-color:var(--deep-blue);
    color:var(--white-text);
}
.infobox .pseudo-input[checked]{
    opacity: 1;
}
.infobox .delete-button{
    position:absolute;
    right:8px;
    top:8px;
    background-color:var(--delete-red);
    cursor: default;
    padding:5px;
    height:20px;
    width:30px;
    border-radius:8px;
    color:var(--white-text);
    text-align: center;
}
