.editor-container .infobox{
    border-radius: 10px;
    padding:10px;
    width:330px;
    position:relative;
    overflow:hidden;
    opacity:0.9;
    margin-top:5px;
    background:var(--panel-background);
}
.editor-container .infobox:hover{
    transition: 0.2s;
    box-shadow:var(--panel-shadow);
}
.editor-container .infobox.highlight{
    /*background:linear-gradient(180deg, var(--header-panel-grey)35px, var(--panel-background) 35px);*/
    opacity:1;
    box-shadow:var(--panel-shadow);
}
.infobox .headline{
    width:100%;
    height:30px;
    font-size: 20px;
    color:var(--mute-gray);
    font-weight:500;
}
.infobox .preview{
    float:left;
    --size:90px;
    width:var(--size);
    height:var(--size);
    margin:12px 10px 0 0;
    background-color:var(--viewport-background);
    border:1px solid var(--contour-grey);
    border-radius:8px;
}
.infobox .top-wrapper{
    width:330px;
    height:105px;
}
.infobox .discr{
    width:100%;
    font-size: 12px;
    margin-bottom:2px;
}
.infobox .order-wrapper, .infobox .color-wrapper, .infobox .border-wrapper{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.infobox .line{
    display:flex;
    width:226px;
    margin-bottom: 10px;
}
.infobox .pseudo-input{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin:0;
    padding:0;
    height:30px;
    width:40px;
    border:none;
    margin-right:2px;
    border-radius:8px;
    background-color:var(--default-button-color);
    color:var(--white-text);
    cursor: pointer;
    opacity: 0.5;
}
.info-box .order-wrapper{
    width:180px;
}
.info-box .delete-wrapper{
    width:45px;
}
.info-box .delete-wrapper .pseudo-input{
    opacity:1;
}
.infobox .color-wrapper{
    width:100px;
}
.infobox .border-wrapper{
    width:125px;
}
.infobox .order-wrapper button{
    all:unset;
    --size:24px;
    height:var(--size);
    width:var(--size);
}
.infobox .pseudo-input:last-child{
    margin-right:0;
}
.infobox .order-wrapper button{
    display: flex;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
    margin:0;
    padding:0;
    height:30px;
    width:40px;
    margin-right:2px;
    cursor: default;
    background-color:var(--default-button-color);
    color:var(--white-text);
    border-radius:8px;
}
.infobox .order-wrapper button:hover{
    background-color:var(--deep-blue);
    color:var(--white-text);
}
.infobox .pseudo-input[checked]{
    opacity: 1;
}
