:root{
    --panel-background: #ffffff;
    --panel-background-set-back: #cccccc;
    --panel-outline: #a7a7a7;
    --highlight:#307ffd;
    --deep-blue:#0000ff;
    --mute-gray:#505050;
    --select-black:#000000;
    --panel-shadow: 0px 2px 6px 0px rgb(0, 0, 0, 0.5);
    --mute-grey:#ccc;
    --header-panel-grey:rgb(146, 146, 146);
    --delete-red:#ff4040;
    --default-button-color:#6a6a6a;
    --icon-interactive:rgb(87,87,87);
    --viewport-background:#fff;
    --contour-black:#000000;
    --contour-grey:#ccc;
    --interactive-hover-background:#dcdcdc;
    --clickable-border-radius:5px;
    /*text*/
    --white-text:#fff;
    --dark-text:#161616;
    --muted-grey-text:#636363;
    /*button*/
    --button-light-border:#ccc;
    --button-darker-border: #a2a2a2;
    --button-background:#fefefe;
    --button-background-hover: #ededed;
    --button-selected-background: #307ffd;
    --button-light-border-selected:#2869d0;
    --button-darker-border-selected: #144797;
    --button-background-selected-hover: #1a6bee;
    /*tabs*/
    --tab-set-back:#cccccc;
    /*animation*/
    --overlay-trans-time:0.2s;
}